body {
	background-color: LightGrey;
}
dive {
	border: 1px solid Chocolate;
}
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .content .links {
	float: right;
}
.top-navigation .content .links li {
	float: right;
	list-style: none;
	margin-left: 15px;
}
